
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentGateway</title>
</head>
<body>
<div>
	please wait
<br/>
	redirect user to payment Gateway.....
</div>
</body>
</html>
